@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #F4F5F8;
}

ul {
  list-style: none;
}

li {
  position: relative;
  padding-left: 24px !important;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  color: #575c66;
  line-height: 24px;
  margin-top: 8px;
}

li::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(/download.svg);
}

.last {
  font-size: 16px;
  line-height: 150%;
  color: #575c66;
}

.section {
  padding-top: 48px;
}

.container {
  max-width: 840px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}

.d-flex {
  display: flex;
}

.jsc {
  justify-content: center;
}

.sp-between {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.title {
  font-family: "Factor A", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  color: #171a22;
}

.save {
  display: inline-block;
  color: #ff642d;
  font-weight: 700;
  font-size: 16px;
  position: relative;
  white-space: nowrap;
}

.save::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -12px;
  left: -24px;
  right: -12px;
  width: 140px;
  height: 12px;
  margin: 0 auto;
  background-image: url(/save.svg);
  background-repeat: no-repeat;
}

.list {
  gap: 16px;
  margin-top: 40px;
  flex-direction: column;
}

.card {
  background: #fff;
  box-shadow: 5px 5px 25px rgba(137, 141, 154, .3);
  border-radius: 16px;
  padding: 32px;
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: height ease-in-out .5s;
}

.top {
  display: grid;
  grid-template-areas:
    "integer decimal"
    "integer period"
    "integer .";
  grid-template-columns: min-content;
  margin-top: 12px;
  margin-bottom: 4px;
}

.txt1 {
  font-size: 42px;
  line-height: 50px;
  margin-right: 6px;
  grid-area: integer;
  font-family: "Factor A", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.txt2 {
  font-size: 16px;
  line-height: 16px;
  grid-area: decimal;
  font-weight: 700;
  margin-top: 2px;
}

.txt3 {
  font-size: 16px;
  line-height: 16px;
  margin-top: 4px;
  grid-area: period;
}

.card>h2 {
  font-family: "Factor A", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: var(--pricing-main-text);
  text-transform: capitalize;
}

.btn_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 12px;
}


.btn {
  background-color: #00ba96;
  transition: background-color .15s ease-in-out;
  min-width: 169px;
  height: 42px;
  color: #ffffff;
  border-radius: 6px;
  font-size: 16px;
}

.btn_container1 {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}


.btn1 {
  background-color: #00ba96;
  transition: background-color .15s ease-in-out;
  color: #ffffff;
  border-radius: 6px;
  font-size: 16px;
  padding: 0 20px;
  width: fit-content;
}

.para1 {
  color: #171A22;
  font-weight: 500;
  margin-bottom: 8px;
  font-size: 16px;
}

.section2 {
  display: grid;
  margin-top: 30px;
  grid-template-columns: 1fr minmax(112px, 26%);
  grid-gap: 20px;
  height: 100%;
  max-width: 1110px;
  margin-bottom: 30px;
}

.title2 {
  font-family: "Factor A", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #171a22;
  margin-bottom: 12px;
  align-self: flex-start;
}

.contain {
  display: flex;
  flex-direction: column;
  color: #171a22;
  justify-content: flex-end;
}

.top1{
  font-family: "Factor A",Arial,Helvetica,sans-serif;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 700;
    color: var(--pricing-main-text);
    transition: font-size .15s;
}

.main{
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

@media (min-width: 800px) {
  .section {
    padding-top: 60px;
  }

  .main{
    flex-direction: row;
    align-items: center;
  }

  .container {
    max-width: 1110px;
    padding: 0 24px;
  }

  .title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 0;
  }

  .list {
    gap: 32px;
    margin-top: 48px;
    flex-direction: row;
  }

  .section2 {
    margin-top: 60px;
    grid-template-columns: 1fr repeat(3, 170px);
    grid-gap: 12px;
  }

  .title2 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .top1{
    font-size: 14px;
    line-height: 20px;
  }

  .price{
    margin-top: 4px;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 1.5;
  }
}